li {
    padding: 10px;
}

#titleDiv {
    text-align: left;
}

#buttonsDiv {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: left;
}